@font-face {
  font-family: qube;
  src: url('Qube.ttf');
}

@font-face {
  font-family: neou-b;
  src: url('Neou-Bold.ttf');
}

@font-face {
  font-family: neou-t;
  src: url('Neou-Thin.ttf');
}

@font-face {
  font-family: tables;
  src: url('tables.ttf');
}

a, h1, h2, h3, h4, p {
  letter-spacing: 1px;
  font-family: neou-t;
  opacity: 0.5;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-family: neou-b;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
}

a {
  line-height: auto;
  text-decoration: none;
  color: unset;
  transition: transform 100ms, text-shadow 100ms ease;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a:hover {
  transform: translateY(1px);
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}

a:active {
  transform: translateY(2px);
  opacity: 0.8;
}

body {
  background-color: #eeeeee;
  padding:1rem;
  height: auto;
  width: auto;
  position: absolute;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  -webkit-overflow-scrolling: touch;

}

header {
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

header a {
  font-size: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

header a h3 {
  opacity: 0.3;
  transition: opacity 500ms ease;
}

header:hover a h3 {
  opacity: 0.9;
  font-family: neou-b;
}

iframe {
  width: ;
  height: 45vw;
}

section {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

article {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

footer {
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.view {
  width: 80vw;
  height: 45vw;
  background-color: #fafafa;
  position: relative;
  box-shadow: inset 0 0 32px 32px #eeeeee;
}

.tables {
  font-family: tables;
}

#display
