@import url('https://fonts.googleapis.com/css?family=Megrim');
h1 {
  color: #eeeeeeaa;
  font-family: 'Megrim', cursive;
  font-size: 5vh;
  line-height: 6vh;
  letter-spacing: 1vw;
  text-align: center;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  color: #eeeeeeaa;
  font-family: 'Megrim', cursive;
  letter-spacing: 0.5vw;
  font-size: 4vh;
  line-height: 1;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3 {
  color: #eeeeeeaa;
  font-family: 'Megrim', cursive;
  letter-spacing: 0.5vw;
  font-size: 3vh.5em;
  line-height: 1;
  text-align: center;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h4 {
  color: #eeeeeeaa;
  font-family: 'Megrim', cursive;
  letter-spacing: 0.5vw;
  font-size: 2vh;
  line-height: 1;
  text-align: center;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

p {
  color: #eeeeeeaa;
  font-family: 'Megrim', cursive;
  font-size: 2vh;
  line-height: 1.2;
  text-align: center;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

hr {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #eeeeee, rgba(0, 0, 0, 0));
  border-style: solid;
  border-width: 0px;
  max-width: 600px;
  border-bottom-width: 0px;
  height: 1px;
}

ul {
  display: flex;
  flex-flow: column;
  height: auto;
  margin: 0;
  padding: 0;
}

article>p {
  max-width: 600px;
  line-height: 2;
  width: fit-content;
  padding: 17px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  color: #eeeeeeaa;
}

body {
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  text-shadow: 0 0 2px #eeeeeeaa;
  color: #eeeeeeaa;
}

a:hover {
  text-shadow: 1px 1px aquamarine, 1px -1px wheat, -1px 1px royalblue, -1px -1px crimson;
  color: #eeeeee;
  opacity: 0.9;
  transition: text-shadow 1s, filter 1s ease-out;
}

a p {
  margin: 0;
  padding: 0;
}

li:hover p {
  transform: scale(1.05);
  font-weight: 800;
  letter-spacing: 2vh;
}

li p {
  line-height: 20vh;
  transition: transform 0.2s, letter-spacing 0.1s, font-size 0.1s ease-in;
  /* height: 15vh; */
  font-family: 'Megrim', cursive;
  letter-spacing: 1vh;
  color: #eeeeeeaa;
  text-shadow: 0 0 2px;
  font-size: 3vh;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

li a {
  color: #eeeeeeaa;
  display: block;
  letter-spacing: auto;
  font-family: 'Megrim', cursive;
  font-size: 8vh;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

header {
  position: fixed;
  height: 15vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  background-color: #111111;
  width: auto;
  left: 20vh;
  top: 0;
  z-index: 10;
  right: 0;
}

header center>h1 {
  color: #eeeeeeaa;
  text-shadow: 0 0 2px;
  line-height: 7vh;
  margin: 0;
  font-size: 8vh;
}

header center>h2 {
  letter-spacing: 0.75vw;
  color: #eeeeeeaa;
  text-shadow: 0 0 2px;
  font-weight: 200;
  line-height: 6vh;
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

header center a>h2 {
  letter-spacing: 1vw;
  color: #eeeeeeaa;
  text-shadow: 0 0 2px;
  font-weight: 100;
  line-height: 7vh;
  font-size: 4vh;
  margin: 0;
  padding: 0;
}

header center>a {
  letter-spacing: 1vw;
  color: #eeeeeeaa;
  text-shadow: 0 0 2px;
  font-weight: 200;
  line-height: 8vh;
  font-size: 5vh;
  margin: 0;
  padding: 0;
}

header center>hr {
  margin: 0;
}

#ra {
  animation: rot1 25s ease-in-out infinite;
}

#rb {
  animation: rot2 55s ease infinite;
}

#rc {
  animation: rot3 20s linear infinite;
}

#r1 {
  animation: rot1 11s ease infinite;
  position: relative;
  right: 0vw;
  left: auto;
  top: 0;
}

#r2 {
  animation: rot2 54s linear infinite;
  position: relative;
  right: 0vw;
  top: 0;
}

#r3 {
  animation: rot3 33s linear infinite;
  position: relative;
  right: 0vw;
  top: 0;
}

#arrow {
  filter: invert(1);
  animation: infinite;
  height: 5vh;
  position: static;
  animation: bounce 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  bottom: ;
  bottom: 60px;
  margin: 88vh auto;
  mix-blend-mode: overlay;
}

#z1 {
  z-index: 1;
  position: fixed;
  top: 0;
}

#z2 {
  display: none;
}

#z3 {
  z-index: 3;
}

#hr {
  width: 80%;
  opacity: 0.7;
}

#hrr {
  width: 80%;
  opacity: 0.2;
}

#mask {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: -17px;
  right: 0;
  left: 0;
  width: auto;
  z-index: 10;
  transition: height 0.2s ease;
  bottom: 0;
  position: fixed;
  background-color: #111111;
  top: 0;
}

#homeimg {
  height: 20vh;
  margin: 5vh;
  filter: saturate(2)invert(1)brightness(1)hue-rotate(100deg);
  transition: filter 1s, mix-blend-mode 3s, height 0.5s, animation 1s ease;
  animation: scale 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  box-shadow: 0 0 100px;
}

#homeimg:hover {
  animation: scale 5s;
  height: 30vh;
  filter: saturate(2)invert(0)brightness(2)hue-rotate(100deg);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

#himgcont {
  mix-blend-mode: screen;
  animation: scale 3s;
  position: absolute;
  background: url(pic/background-main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00143ae6;
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
  top: 0 !important;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#topimg {
  height: 50vh;
  border-radius: 25vh;
}

#topimg-spin {
  z-index: 10;
  margin-top: 25vh;
  width: 50vh;
  border-radius: 25vh;
  mix-blend-mode: hard-light;
}

#menu li {
  width: 20vh;
  height: 20vh;
  filter: invert(1);
  background-color: #111111;
  margin: 0;
  position: relative;
  line-height: 20vh;
  padding: 0;
  transition: filter 0.1s ease;
}

#menu li:hover {
  filter: invert(0);
  margin: 0;
  padding: 0;
}

#button-s {
  width: 80%;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeeeaa;
}

#button-s:hover {
  border-style: dotted;
}

#maintv {
  background: url(glitch.gif);
  background-size: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-burn;
}

#homevid {
  width: auto;
  height: 80vh;
  pointer-events: none;
  transform: translateX(-40vh);
}

#mainspin {
  width: 80vh;
  position: relative;
}

#homevid-c {
  height: 70vh;
  width: 70vh;
  overflow: hidden;
  box-shadow: 0 0 50px #111111;
  margin-top: 2.5vh;
  mix-blend-mode: hard-light;
}

#dotty {
  opacity: 1;
  z-index: -1;
  position: absolute;
}

.list>center {
  filter: saturate(0);
  transition: filter 0.5s ease;
}

.list>center:hover {
  filter: saturate(1);
}

.big-ole {
  display: flex;
  flex-flow: wrap;
  width: auto;
  justify-content: center;
}

.crp-1 {
  width: 40vw;
  height: 230px;
}

.semi::-webkit-scrollbar-track {
  background-color: rgba(238, 238, 238, 0);
}

.semi::-webkit-scrollbar {
  width: 17px;
  background-color: rgba(238, 238, 238, 0);
}

.semi::-webkit-scrollbar-thumb {
  border-left: 1px solid #eeeeee22;
  border-bottom: 1px solid #eeeeee22;
  border-top: 1px solid #eeeeee22;
  background: url(a2.png);
  opacity: 0.2;
  background-color: rgba(17, 17, 17, 0);
}

.semi::-webkit-scrollbar-thumb:hover {
  border-left: 1px solid #eeeeee99;
  border-bottom: 1px solid #eeeeee99;
  border-top: 1px solid #eeeeee99;
  background: url(a.png);
  opacity: 0.8;
  background-color: rgba(17, 17, 17, 0);
}

.gold-a::-webkit-scrollbar-track {
  background-color: rgba(238, 238, 238, 0);
}

.gold-a::-webkit-scrollbar {
  width: 17px;
  background-color: rgba(238, 238, 238, 0);
}

.gold-a::-webkit-scrollbar-thumb {
  border-right: 1px solid #eeeeee22;
  border-bottom: 1px solid #eeeeee22;
  border-top: 1px solid #eeeeee22;
  background: url(y2.png);
  opacity: 0.2;
  background-color: rgba(17, 17, 17, 0);
}

.gold-a::-webkit-scrollbar-thumb:hover {
  border-right: 1px solid #eeeeee99;
  border-bottom: 1px solid #eeeeee99;
  border-top: 1px solid #eeeeee99;
  background: url(y.png);
  opacity: 0.8;
  background-color: rgba(17, 17, 17, 0);
}

.mobi-s {
  -webkit-overflow-scrolling: touch;
}

.list a {
  text-align: center;
  transition: letter-spacing 0.5s ease;
}

.list a:hover {
  letter-spacing: 0.2em;
}

.leftsearch {
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  padding-bottom: 30vh;
}

.searchelement a {
  font-size: 15vw;
  line-height: 15vw;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.icon {
  width: 15vw;
  height: 15vw;
  margin: 17px;
  padding: 17px;
  filter: saturate(0);
  transition: transform 0.2s, saturate 0.5s ease;
}

.searchelement:hover .icon {
  filter: saturate(1);
  transform: scale(1.1);
}

.widgets {
  display: flex;
  flex-flow: column;
  width: -webkit-fill-available;
  left: 0;
  margin-right: -17;
  overflow: hidden;
  z-index: 6;
  left: 0;
  opacity: 0.9;
}

.spinner {
  animation: spin 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.spinner2 {
  animation: spin 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.total {
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: #111111;
}

.menu {
  width: auto;
  left: 0;
  filter: invert(1);
  right: -17px;
}

.gold-hold {
  display: flex;
  flex-flow: row;
}

.gold-a {
  width: auto;
  height: 80vh;
  left: 0;
  bottom: 0;
  position: absolute;
  overflow-x: hidden;
  margin-left: ;
  overflow-y: hidden;
  direction: ltr;
  z-index: 5;
}

.gold-a:hover {
  box-shadow: unset;
  overflow-y: scroll;
  transition-delay: overflow-y 5s;
}

.btn {
  color: #eeeeeeaa;
  font-family: 'Megrim', cursive;
  letter-spacing: 0.5vw;
  font-size: 40px;
  max-width: 60vw;
  min-height: 50px;
  background: linear-gradient(to top, #11111155, #1a1a1a44);
  border: 1px solid #eeeeeeaa;
  line-height: 50px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  transform: translatey(0px);
  transition: transform 0.2s, box-shadow 0.5s ease;
}

.btn:hover {
  box-shadow: inset 0 0 50px #11111122;
  transform: translatey(1px);
}

.gold-b {
  width: auto;
  height: auto;
  right: 0;
  left: 20vh;
  top: 20vh;
  bottom: 0;
  z-index: 5;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0 0 0px #eeeeee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  background-blend-mode: overlay;
  transition: background-image 0s, background-size 1s, background-color 3s, background-blend-mode 2s, box-shadow 5s ease;
}

center iframe {
  margin: 10px;
}

center {
  margin: 10px;
}

center, p {
  margin: 10px
}

@keyframes rot1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes rot2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  80% {
    -webkit-transform: rotate(400deg);
    transform: rotate(400deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes rot3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
  80% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(150deg);
    filter: hue-rotate(150deg);
  }
  50% {
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
  75% {
    -webkit-filter: hue-rotate(200deg);
    filter: hue-rotate(200deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes bright {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  25% {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
  }
  50% {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  75% {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
  100% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  25% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  50% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  75% {
    -webkit-transform: translate(0, 17px);
    transform: translate(0, 17px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

.widgets>center {
  filter: saturate(0);
  transition: filter 0.5s ease;
}

.widgets>center:hover {
  filter: saturate(1);
}

.big-ole>center {
  filter: saturate(0);
  transition: filter 0.5s ease;
}

.big-ole>center:hover {
  filter: saturate(1);
}

.rot {
  height: fit-content;
  width: auto;
  min-width: 100vh;
  justify-content: center;
  min-width: unset;
  filter: invert(0.9);
  mix-blend-mode: color-burn;
  max-height: unset;
  padding: 0;
  margin: auto;
  pointer-events: none;
  top: 0;
  right: 0;
  position: absolute;
}

.rot img {
  margin-top: 5vh;
  width: 80vh;
  height: auto;
  filter: brightness(0);
}

.shadyb {
  border-width: 0;
  box-shadow: 0 0 50px #11111155
}

.toplogo {
  filter: invert(1);
  pointer-events: none;
}

.toplogo #ra {
  width: 20vh;
  height: 20vh;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 11;
  position: fixed;
}

.toplogo #rb {
  width: 20vh;
  height: 20vh;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 11;
  position: fixed;
}

.toplogo #rc {
  width: 20vh;
  height: 20vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 11;
  position: fixed;
}

.f-btn {
  color: #eeeeee55;
  font-family: 'Megrim', cursive;
  letter-spacing: 0.5vw;
  font-size: 30px !important;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #11111111;
  max-width: 300px;
  min-height: 50px;
  border: 1px solid #eeeeee22;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  filter: hue-rotate(0deg)saturate(1);
  margin: 10px;
  padding: 20px;
  box-shadow: 0 5px 30px #11111111;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s, text-shadow 1s, filter 1s ease;
}

.f-btn:hover {
  transform: translateY(2px);
  font-weight: 600;
  filter: hue-rotate(3600deg)saturate(0.5);
  box-shadow: 0 5px 50px #11111122;
  background-color: #eeeeee22;
}

.semi {
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  word-break: normal;
  bottom: 0;
  top: 0;
  position: absolute;
  background: url(tess.png), linear-gradient(to top, #00223f, #8bffda);
  background-color: #3B5366;
  box-shadow: inset 0 0 300px #111111;
  background-blend-mode: inherit;
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 70%, 100%;
  transition: margin-right 0.2s, mix-blend-mode 1s, background-color 1s ease;
}

.semi:hover {
  overflow-y: auto;
  transition: mix-blend-mode 1s ease;
}

.widthn {
  width: 60vw;
  height: 33.75vw;
}

.widthi {
  max-height: 944px;
  max-height: 460px;
}

.widthm {
  max-height: 913px;
  max-height: 433px;
}

.asc-ifr {
  width: 35vw;
}

#site-frame {
  width: inherit;
  /* left: 20vh; */
  /* right: 0px; */
  height: -webkit-fill-available;
  top: 0;
  position: relative;
  margin: 0;
}

iframe {
  width: 60vw;
  height: 33.75vw;
}

.t3 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background: url(https://lh6.googleusercontent.com/1wn8Jch_w7xGIysizhzqqTx4OgjgX_iy-LipKGqq8CRGirl5fo_CivWThs8BLOgE_OTRCBv-BjLNdIBQCqTg=w1440-h799-rw), #823433;
  background-blend-mode: luminosity;
}

@media screen and (max-width:100vh) {
  .btn {
    max-width: 80vw;
  }
  .toplogo {
    display: none;
  }
  .widgets>center {
    filter: saturate(1);
  }
  #z1 {
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  #z2 {
    height: 100vh;
    position: relative;
    top: -100vh;
    display: none;
  }
  #homevid {
    width: auto;
    height: 50vh;
    pointer-events: all;
    transform: translateX(-10vh);
  }
  #homevid-c {
    height: 50vh;
    width: 50vh;
    overflow: hidden;
    margin-bottom: 12.5vh;
    margin-top: 10vh;
  }
  .rot {
    height: 100vw;
    width: 100vw;
    justify-content: center;
    min-width: unset;
    filter: invert(0.9)brightness(2);
    max-height: unset;
    left: 0;
    position: fixed;
  }
  #mainspin {
    width: 100vw;
    padding: 10vw;
  }
  .rot img {
    width: 80vw;
    height: auto;
    filter: brightness(0);
  }
  #r1 {
    animation: rot1 30s linear infinite;
    position: fixed;
    right: 10vw;
    top: 0;
  }
  #r2 {
    animation: rot2 25s linear infinite;
    position: fixed;
    right: 10vw;
    top: 0;
  }
  #r3 {
    animation: rot3 20s linear infinite;
    position: fixed;
    right: 10vw;
    top: 0;
  }
  .asc-ifr {
    width: 80vw;
  }
  .list>center {
    filter: saturate(1);
  }
  .list>center:hover {
    filter: saturate(1);
  }
  li:hover p {
    transform: rotate(0deg);
  }
  p {
    color: #eeeeeeaa;
    font-family: 'Megrim', cursive;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  .btn {
    font-size: 1.5em;
  }
  .semi {
    width: 100%;
    right: 0;
    height: auto;
    left: 0;
    margin-right: 0;
    position: absolute;
    box-shadow: inset 0 0 100px #111111;
    top: 10vh;
    bottom: 0;
    padding: 1em 1em;
    overflow-y: unset;
    background: url(tess.svg), linear-gradient(to top, #00223f, #000935);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position-y: bottom;
    background-position-x: center;
    background-size: contain;
    -webkit-overflow-scrolling: touch;
  }
  .gold-a {
    width: auto;
    bottom: 0vh;
    height: 10vh;
    right: 0;
    left: 0;
    position: fixed;
    overflow-y: hidden;
    z-index: 2;
    direction: ltr;
  }
  .menu {
    height: 10vh;
    filter: invert(1);
  }
  .widthn {
    width: 80vw !important;
    height: 45vw !important;
    border-radius: 0;
  }
  .gold-b {
    top: 0;
    width: auto;
    height: 90vh;
    right: 0;
    left: 0;
    position: sticky;
    background-blend-mode: lighten;
    overflow: hidden;
    background-color: #eeeeee;
    background-image: url(back.png);
    transition: background:linear-gradient 1s ease;
    z-index: 1;
  }
  #mask {
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    left: 0;
    width: auto;
    z-index: 10;
    transition: height 0.2s ease;
    bottom: 0;
    position: fixed;
    background-color: #eeeeee;
    top: 0;
  }
  #menu {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 10vh;
    width: 100vw;
    display: flex;
  }
  .f-btn {
    max-width: 60vw;
    min-height: 30px;
  }
  li p {
    line-height: 10vh;
    width: 50vw;
    height: 10vh;
    font-family: 'Megrim', cursive;
    color: #eeeeee;
    font-size: 5vh;
    text-align: center;
    font-weight: 800;
    margin: 0 !important;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    flex-flow: row;
    width: 100vw !important;
    margin: 0;
    background-color: #eeeeee;
  }
  a h3 {
    font-size: 1em !important;
  }
  #menu li {
    width: 50vw !important;
    height: 10vh;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    position: table-cell;
    display: inline-table;
    transition: filter 0.2s ease;
  }
  #menu li:hover {
    filter: invert(1);
    margin: 0;
    padding: 0;
  }
  #homeimg {
    height: 20vw;
  }
  .list a {
    text-align: center;
    transition: letter-spacing 0.5s ease;
  }
  .list a:hover {
    letter-spacing: 0.2em;
  }
  .leftsearch {
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    padding-bottom: 30vh;
  }
  .searchelement a {
    font-size: 30vw;
    line-height: 30vw;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }
  .gold-b:hover>.semi #homeimg {
    filter: invert(0);
    opacity: 0.9;
  }
  header {
    overflow: hidden;
    left: 0;
    filter: invert(0);
    height: 10vh;
    padding: 0;
    background: #eeeeee;
    right: 0;
    top: 0;
    bottom: 90vh;
    z-index: 5;
    position: fixed;
  }
  header center>h1 {
    letter-spacing: auto;
    font-size: 5vh;
    line-height: 10vh;
    color: #111111;
    text-shadow: 0 0 2px;
    margin: 0;
    padding: 0;
  }
  header center>h2 {
    display: none;
  }
  header center a>h2 {
    display: none;
  }
  header center>hr {
    margin: 0vh;
    padding: 0;
    filter: invert(1);
  }
  li a {
    line-height: 15vh;
    width: 50vw;
    color: #111111;
    height: 10vh;
    display: block;
    letter-spacing: auto;
    font-family: 'Megrim', cursive;
    font-size: 8vh;
    margin: 0;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
  }
  .gold-a {
    width: 100vw;
    overflow-y: scroll;
  }
  .gold-a:hover {
    width: 100vw;
    margin-left: 0px;
  }
  .gold-a::-webkit-scrollbar-track {
    background-color: #eeeeee;
  }
  .gold-a::-webkit-scrollbar {
    width: 0px;
  }
  .gold-a::-webkit-scrollbar-thumb {
    background-color: #111111;
  }
  .icon {
    width: 30vw;
    height: 30vw;
    margin: 17px;
    padding: 17px;
    filter: saturate(1);
    transition: transform 0.2s, saturate 0.5s ease;
  }
  .searchelement:hover .icon {
    filter: saturate(1);
    transform: scale(1.1);
  }
  center {
    margin: 0px;
  }
  iframe {
    width: 80vw !important;
    height: 45vw !important;
  }
}
